{% extends './base.html' %}

{% load rest_framework %}
{% block content %}
<form action="{% url 'home' %}" method="POST">
  {% csrf_token %}
  <div>
    {% render_form serializer %}
  </div>
  <button type="submit" class="btn btn-primary">提交</button>
</form>

<div>
    <span class="badge badge-dark">{{result.score_difference_value}}</span>
    {% for k, v in result.recommends.items %}
        <div class="card">
          <div class="card-header">
            {{k}}
          </div>
          <ul class="list-group list-group-flush">
            {% for u in v %}
                <li class="list-group-item">{{u}}</li>
            {% endfor%}
          </ul>
        </div>
    {% endfor %}
</div>
{% endblock %}
